.button{
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    color: white;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.5s ease-in-out;
}

.secondary{
    border: 1px solid var(--blue);
    color: black;
    /* padding: 10px 20px; */
}

.primary{
    background-color: var(--blue);
    /* font-weight: bold; */
}

.primary:hover{
    background-color: black;
}
.secondary:hover{
    background-color: rgb(200, 200, 214);
    /* color: white; */
    /* border: none; */
}