.singleform{
    
    margin-bottom: 30px;
}

.options{
    margin-top: 10px;

}

.radios{
    cursor: pointer;
    
}


.radios:disabled {
    color: rgb(175, 9, 9);
  }
  
  .disabled-label {
    color: rgb(19, 4, 4);
  }
  